public/eventlist.html
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">
    <link href="css/logo-nav.css" rel="stylesheet">
    
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .event .overlay:hover {
        opacity: 1;
        cursor: pointer;
    }

    .event .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.35s ease;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        border-radius: inherit;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
    }

    .event .overlay {
        background-color: rgba(0,0,255,0.15);
    }

    .event .label.date {
        font-size: 20px;
    }

    .event {
        padding: 1em;
    }

    .event p {
        margin-top: 1em;
    }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img src="images/Logo-sm-mandevilla.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="signout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Upcoming Events</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 event">
                <a href="#">
                <div class="overlay"></div>
                    <img class="img-responsive" alt="alternative text" src="./images/templatemo-bg-1.jpg">
                </a>
                <p>
                    <strong>Business &amp; Entrepreneurs Workshop</strong><br>
                    <em>at Grand Hotel Italia</em><br>
                    <span class="small">10:00 AM - 21:00 PM</span>
                </p>
                <span class="label label-info date">Jun 12</span> 
                <span class="label label-primary">Tickets 5$</span>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Spiral Events 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

views/eventlist.jade
extends layout

block content
    include eventlist.html

    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            a.navbar-brand(href="/home")
                img(src="images/Logo-sm-mandevilla.png", alt="")
            
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="profile") Settings
                    li
                        a(href="signout") Logout

    //Header
    h2 Upcoming Events
    
    hr

    // Projects Row
    .row
        each event, i in eventlist
            .col-md-4.event(name=event.eventname)
                a(href= '/eventinfo?id=' + event._id)
                    .overlay
                    img.img-responsive(alt="alternative text", src="./images/templatemo-bg-2.jpg")
                p
                    strong #{event.eventname}
                    br
                    em at #{event.location}
                    br
                    span.small #{event.starttime} - #{event.endtime}

                span.label.label-info.date #{event.date}
                span &#160;
                span.label.label-primary Tickets $#{event.cost}

    hr

    // Footer
    footer
        .row
            .col-lg-12
                p Copyright &#169; Spiral Events 2014
